{% extends 'base.html' %}
{% block title %}
{{ title }}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="col display-2">Магазин электроники</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis cum cupiditate dicta dolorum facilis necessitatibus omnis optio quidem suscipit, voluptate.</p>
        </div>
        <div class="col-8">
          <img src="/static/img/main.jpg" class="img-fluid" alt="Главная">
        </div>
    </div>
</div>
{% endblock %}