{% extends 'base.html' %}
{% block title %}
{{ super() }} - {{ title }}
{% endblock %}
{% block content %}
<div class="container text-center">
    <h1 class="col">Ноутбуки</h1>
    <div class="row row-cols-4">
        <div class="col m-3 shadow sm p-2 border border-opacity-50 rounded">
            Слабый ноутбук
            <img src="/static/img/nout/nout1.jpg" class="col-8 img-fluid" alt="1">
        </div>
        <div class="col m-3 shadow sm p-2 border border-opacity-50 rounded">
            Средний ноутбук
            <img src="/static/img/nout/nout2.jpg" class="col-8 img-fluid" alt="2">
        </div>
        <div class="col m-3 shadow sm p-2 border border-opacity-50 rounded">
            Сильный ноутбук
            <img src="/static/img/nout/nout3.png" class="col-8 img-fluid" alt="3">
        </div>
    </div>
</div>
{% endblock %}